
#container::-webkit-scrollbar-track {
  width: 7em;
}
#container::-webkit-scrollbar {
  width: 7em;
   background-color: #00fff2;
   
}
#container::-webkit-scrollbar-thumb {
  background-color: #00fff2;
  border-radius: 100%;
  border: 3px solid #00fff2;
  outline: 10px solid #00fff2;
}
#container {
  width: auto;
  height: 350px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  transition: 1s;
}


.li{
  width: 300px;
  height: 300px;
  margin-left: 20px;
  flex: 0 0 auto;
  display: flex;
  background-color: rgba(255, 255, 255, 0.447);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.li2{
  width: 75%;
  height: 75%;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0);
  transition: 1s;
}
.li2:hover{
  animation-name: op2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

}
@keyframes op2 {
  0%{
    border-right: solid 1px rgba(255, 0, 0, 0);
    transform: rotate(0deg);
    border-bottom: solid 1px rgba(255, 0, 0, 0);
    border-left: solid 1px rgba(255, 0, 0, 0);
    border-top: solid 1px rgba(255, 0, 0, 0);

  }
  25%{
    border-right: solid 2px rgb(255, 251, 0);
    border-bottom: solid 2px rgba(255, 251, 0, 0);
    border-left: solid 2px rgba(255, 251, 0, 0);
    border-top: solid 2px rgba(255, 251, 0, 0);
  }
  50%{
    border-right: solid 3px rgb(0, 255, 21);
    border-bottom: solid 3px rgb(72, 255, 0);
    border-left: solid 3px rgba(60, 255, 0, 0);
    border-top: solid 4px rgba(60, 255, 0, 0);
  }
  75%{
    border-right: solid 4px rgb(0, 64, 255);
    border-bottom: solid 4px rgb(0, 21, 255);
    border-left: solid 4px rgb(0, 123, 255);
    border-top: solid 4px rgba(0, 68, 255, 0);
  }
  100%{
    border-right: solid 5px rgb(255, 0, 0);
    transform: rotate(720deg);
    border-bottom: solid 5px rgb(255, 0, 0);
    border-left: solid 5px rgb(255, 0, 0);
    border-top: solid 5px rgb(255, 0, 0);
    border-radius: 50%;
  }
  
}

.bdiv1{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  width: 50%;
  height: 1px;
}
.bdiv2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 50%;
  margin-left: 50%;
  height: 1px;
}
.b1{
  font-size: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.47);
  cursor: pointer;
}

.ju{
  width: 95%;
  height: 95%;
  background-color: rgba(0, 217, 255, 0.702);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ju img{
  width: 80%;
}
#mju{
  width: 60%;
}

@font-face {
  font-family: wty;
  src: url(2sDPZGJLip7W2J7v7wQZZE1I0yCmYzzQtuZnIGaV3w.woff2);
}
h3{
  font-family: wty;
}

.ju:hover .r{
  animation-name: imgs;
  animation-duration: 0.5s;
}
.ju:hover #mju{
  animation-name: imgs;
  animation-duration: 0.5s;
  
}
@keyframes imgs {
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-720deg);
  }
  
}