.odiv{
    overflow: hidden;
    transition: 1s;
    
    
}
.d0{
    width: auto;
    height: auto;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 18vh;
    margin-top: 10vh;
    border: solid 1vh rgb(106, 255, 0);
    border-radius: 20px;


}
.d1{
    margin: 20px;
    height: 9%;
    box-shadow: 10px 10px 20px 10px rgb(0, 0, 0);
    transition: 1s;
    
}
.d1 .d0{
    width: auto;
    height: 60vh;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 18vh;
    margin-top: 18vh;
    transition: 1s;

}
.d1{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: transparent;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .d1:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff,
      #2bff00,
      #ffffff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: d1a 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes d1a {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .d1:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.534);
  }

  .i1{
    background-color: transparent;
    border: 0px solid;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    font-size: 20px;

  }
  .i1:focus, .i1:focus{
    outline: none;
}
.p1{
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: default;
}
.d2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.s1{
    color: rgb(0, 0, 0);
    margin-right: 50%;
    text-shadow: 0px 1px 1px rgb(4, 255, 0);
    text-decoration: underline;
    cursor: pointer;

}

.b1 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.b1:before {
  content: "";
  background: linear-gradient(
    10deg,
    #7fff00,
    #ff0000
    
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  
  width: calc(100% - 40px);
  height: calc(100% + 4px);
  animation: ba 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes ba {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.b1:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.b1:hover{
    color: #48ff00;
    
}
.p2{
    font-size: 10px;
}
.c1{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    
    outline: max(1px, 0.15em) solid rgb(0, 0, 0);
    outline-offset: max(2px, 0.15em);
}
.c1:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
  
.l1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    
    
    
}
.a1:link{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);

}
.a2:link{
    color: #000000;
  }

.log2{
  display: none;
}




.lhedar{
  position: absolute;
  display: flex;
  margin-left: -8px;
  margin-top: -66px;
  width: 100%;
  height: 50px;
}
.a{
  width: 50%;
  height: 50px;
  display: flex;
  
}
.b{
  display: flex;
  width: 50%;
  height: 50px;
  justify-content: flex-end;
 
}
.a img {
  width: 50px;
}
.a label{
  font-size: 20px;
  font-family: hh;
  cursor: pointer;
}
@font-face {
  font-family: hh;
  src: url(2sDPZGJLip7W2J7v7wQZZE1I0yCmYzzQtuZnIGaV3w.woff2);
}

.loghe3{
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  
}
.b img {
  width: 30px;
}
.b label{
  font-size: 20px;
  font-family: hh;
  cursor: pointer;
}
.loghe4{
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  
}
.nnnn{
  width: 8%;
  height: 100vh;
  position: absolute;
  background-image: url(pngwing.com\ \(43\).png);
  background-repeat: repeat;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  display: flex;
}